<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      Mis compras
    </div>
  </div>
  <hr>
  <div class="row">
  <% @bookings.each do |compra|%>
    <% @busca_compra = Service.find(compra.service_id)%>
           
            <div class="col-4">
            <% if @busca_compra.photo.attached? %>
              <%= cl_image_tag(@busca_compra.photo.key, height:200, width:300)%>
            <% else %>
              <img src="https://i.imgur.com/WyxbTOS.png" class="img-thumbnail" alt="Servicio <%= @busca_compra.title %>">
            <% end %>





            </div>
            <div class="col-5">
              <p><small>#<%= @busca_compra.id %> </small></p>
              <p><small> Fecha de compra: <%= compra.created_at %> </small></p>
              <p> <%= @busca_compra.title %> </p>
              <p><small><%= @busca_compra.description %></small></p>
                   
              
          </div>
          <div class="col-2 align-self-center">
            <p><%= number_to_currency(@busca_compra.price, :precision => 0, :delimiter => ".") %> </p>
          </div>
          
          <div class="dropdown col-1 align-self-center">
            <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><a class="dropdown-item"> <%= "Calificar"%>  </a></li>
              <li><a class="dropdown-item"> <%= "Detalle de compra"%>  </a></li>
            </ul>
          </div>
          
          <hr>
          


  <%end%>
    <hr>
  </div>
</div>
