<div class="container">
  <div class="row justify-content-between">
    <div class="col-4">
      Ventas > Publicaciones
    </div>
    <div class="col-2">
      <%= link_to "Publicar", new_service_path, class: "btn btn-primary" %>
    </div>
  </div>
  <hr>
  <div class="row">
    <% @services.each do |service|%>
      <div class="col-4">
<<<<<<< HEAD
        <% if service.photo.attached? %>
          <%= cl_image_tag(service.photo.key,width:300)%>
        <% else %>
          <img src="https://i.imgur.com/WyxbTOS.png" class="img-thumbnail" alt="Servicio <%= service.title %>">
        <% end %>

      </div>
      <div class="col-5">
        <p><small>#<%= service.id %> </small></p>
        <p><small> <%= service.created_at %> </small></p>
        <p> <%= service.title %> </p>
        <p><small><%= service.description %></small></p>
        <% if service.view == nil %>
          <p><small>0 Visitas</small></p>
        <% else %>
          <p><small><%= service.view %> Visitas</small></p>
        <% end %>        
        
    </div>
    <div class="col-2 align-self-center">
      <p>$ <%= service.price %> </p>
    </div>
     
    <div class="dropdown col-1 align-self-center">
      <a class="btn btn-secondary dropdown-toggle" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        
      </a>
    
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item"> <%= link_to "Modificar", edit_service_path(service.id)%>  </a></li>
        <li><a class="dropdown-item"> <%= link_to "Ver publicación", service_path(service.id)%>  </a></li>
        <li><a class="dropdown-item"> <td><%= link_to 'Eliminar', { :action => :destroy, :id => service.id }, :method => :delete, :data => { :confirm => 'Eliminar por completo?' } %></td></a></li>
      </ul>
    </div>
    <hr>
    <% end %>
  </div>
</div>
