<div class="container">
  <div class="row">
    <div class="col-7">
      <% if @service.photo.attached? %>
        <%= cl_image_tag(@service.photo.key, height:600, width:600)%>
        <% else %>
        <img src="https://i.imgur.com/WyxbTOS.png" class="img-thumbnail" alt="Servicio">
      <% end %>

      <hr>
    </div>
    <div class="col-5">
      <p><small>Vendidos</small></p>
      <p><h2><%= @service.title %></h2></p>
      <p><small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small></p>
      <p><h1><%=number_to_currency(@service.price, :precision => 0, :delimiter => ".")%></h1></p>
      <p><h5 class="text-success">En 6x <%=@service.price/6 %> sin interés</h5></p>
      <div class="container">
        <div class="row">
          <div class="col text-left">
          <% if user_signed_in? %>
              <%if @service.user_id != current_user.id%>
                <%=link_to "Comprar", new_service_booking_path(@service), class: "btn btn-success" %>
              <%else%>
                <%=link_to "Comprar", "#", class: "btn btn-success disabled" %>
              <% end %>
          <% else%>
              <%=link_to "Comprar", new_service_booking_path(@service), class: "btn btn-success" %>
          <% end %>
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col">
            <p>Ubicación del Servicio:</p>
            <div id="map"
              style="width: 100%; height: 200px;"
              data-markers="<%= @markers.to_json %>"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p></p>
<div class= "container">
</div>
<div class="container">
<p>Más publicaciones del vendedor</p>
<!-- CONTENEDOR CARRUSEL --> 
<div class="container mb-4">
  <div class="container text-center my-3">
    <div class="row mx-auto my-auto justify-content-center">
      <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner carousel2" role="listbox">
          <!-- EMPIEZAN LOS CAROUSELS -->  
          <div class="carousel-item active">
            <div class="d-block col-3 img-fluid">
              <div class="card">
                <div class="card-img">
                    <img src="https://via.placeholder.com/500x400/e66?text=2" class="img-fluid">
                </div>
                <div class="card-img-overlay">Slide 1</div>
              </div>
            </div>
          </div>
 
          <% @mas_servicios.each do |servicio| %>
            <div class="carousel-item">
              <div class="d-block col-3 img-fluid">
                <div class="card">
                  
                    <div class="card-img">
                        <% if servicio.photo.attached? %>
                          <%= cl_image_tag(servicio.photo.key, width: 250, height: 200, crop: :fill) %>
                        <% else %>
                        <img src="https://i.imgur.com/WyxbTOS.png" class="img-thumbnail" alt="Servicio <%= servicio.title %>">
                      <% end %>
                    </div>
                    
                    <div class="card-img-overlay"><%= link_to servicio.title, service_path(servicio.id) %></div>
                    </a>
                    <small class="text-muted"><%= servicio.price %></small>
                  </div>
                </div>
              </div>
         <% end %>
          <!-- TERMINAN LOS CAROUSELS -->
        </div>
        <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
    </div>
  </div>
</div>
</div>