
<div class="container">
<% if current_user.id != @service.user_id%>
    <h1>Compra de servicio: </h1>
    <div class="container">
      <div class="row">
        <div class="col">

        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-6">
            <h2 class="text-success"> <%= @service.title %></h2>
            <h4>Estás pagando en DEEP</h4>
            <p><h3 class="text-success"><%=number_to_currency(@service.price, :precision => 0, :delimiter => ".")%></h3></p>
            <%= cl_image_tag(@service.photo.key,width:300)%>
          </div>
          <div class="col-6">
            <%= simple_form_for [@service, @book] do |form| %>
              <%=form.input :payment_method%><%=number_to_currency(@service.price, :precision => 0, :delimiter => ".")%>
              <%=cl_image_tag("webpay_zlggca.jpg")%>
              <%= form.submit 'Pagar' %>
            <% end %>
            <h2></h2>
          </div>
        </div>
      </div>

  </div>
<% else %>
    <h1> ¡No puedes comprar tus propios servicios! </h1>

<% end %>
</div>
