<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-secondary">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag("https://i.imgur.com/CrNCQjv.png", :width=>350, :crop=>"scale")  %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <form class="form-inline my-2 my-lg-2">
    <input class="form-control mr-lg-2" type="search" placeholder="" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
  </form>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item active">
        </li>
        <li class="nav-item dropdown">
            <li class="nav-item">
            </li>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <%= link_to "Cuenta", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
=======
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Mis Servicios", "#", class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
=======
            <%= link_to "Cuenta", "#", class: "dropdown-item" %>
            <% if @usuario.user_type == 1 %>
              <%= link_to "Mis Servicios", "#", class: "dropdown-item" %>
              <%= link_to "Vender", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% else %>
              <%= link_to "Mis Compras", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            <% end %>

    <%= link_to "Cuenta", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Publicar servicio", new_service_path, class: "dropdown-item" %>
            <%= link_to "Mis servicios", servicios_services_path, class: "dropdown-item" %>
            <%= link_to "Mis compras", "#", class: "dropdown-item" %>

            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>

          </div>
        </li>
      <% else %>
        <li class="nav-item text-white">
          <%= link_to "Crear cuenta" , new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Ingresar", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>
    </ul>
  </div>
</div>
