<!-- / SLIDER -->
<div class="container-fluid p-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner"><!-- EMPIEZAN ITEMS SLIDER -->
    
      <div class="carousel-item active">
        <img src="https://i.imgur.com/P595RpP.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
          <h1><strong>¿Necesitas de un buen equipo</strong></h1>
          <h3>dedicado a la limpieza?</h3>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/efYoGDN.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
          <h4><strong>¿Te gustaría ser parte de Deep?</strong></h4>
          <h1><strong>¡Sólo necesitas buenas ideas!</strong></h1>
        </div>
      </div>
      <div class="carousel-item">
        <img src="https://i.imgur.com/GdpQjYw.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
          <h1><strong>¿Sabes cuántas personas</strong></h1>
          <h1><strong>odian hacer algunas cosas?...</strong></h1>
          <h4><strong>...Más de lo que te imaginas</strong></h4>
        </div>
      </div>

    </div><!-- / TERMINAN ITEMS SLIDER -->
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
  <!-- / FIN SLIDER -->
  <!-- CALL TO ACTION -->
  <div id="benefits" class="container-fluid p-0">
    <div class="d-flex p-3 text-black justify-content-center">
      <div class="card-block  ">
        <div class="card-body text-center">
          <h3 class="card-text float-left"><i class="fas fa-hourglass-half"></i></h3>
            <p class="card-text">Optimiza tu tiempo usando Deep</p>
        </div>
      </div>
      <div class="card-block bg-warning">
        <div class="card-body text-center">
          <h3 class="card-text float-left"><i class="fas fa-people-arrows"></i></h3>
            <p class="card-text">Contacta con tu proveedor o cliente más cercano</p>
        </div>
      </div>
      <div class="card-block">
        <div class="card-body text-center">
          <h3 class="card-text float-left"><i class="fas fa-gift"></i></h3>
            <p class="card-text">Suma DeepPuntos para obtener descuentos</p>
        </div>
      </div>
    </div>
  </div>
  <!-- CALL TO ACTION -->
  <br>
  <!-- ROW CATEGORIES -->
  <div class="container mb-4">
      <div class="row catagories">
        <div class="cards">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/6195273/pexels-photo-6195273.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)">
            <%= link_to 'Limpieza', limpieza_services_path, class: "btn btn-ghost fw-bold" %>
          </div>
  
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/6195953/pexels-photo-6195953.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
            <%= link_to 'Sanitización', sanitizacion_services_path, class: "btn btn-ghost fw-bold" %>
          </div>
  
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/1108101/pexels-photo-1108101.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)">
            <%= link_to 'Mantenimiento', mantencion_services_path, class: "btn btn-ghost fw-bold" %>
          </div>
        </div>
      </div>
  </div>
  <!-- ROW CATEGORIES -->
  <br>
  <!-- CONTENEDOR CARRUSEL --> 
    <div class="container text-center my-3">
      <div class="row mx-auto my-auto justify-content-center">
        <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner carousel2" role="listbox">
            <!-- EMPIEZAN LOS CAROUSELS -->  

            <% @services.each_with_index do |servicio, index| %>
              <div class="carousel-item <%= "active" if index.zero? %>">
                <div class="d-block col-3 img-fluid">
                  <div class="card">
                    <div class="card-img">
                        <% if servicio.photo.attached? %>
                          <%= cl_image_tag(servicio.photo.key, width: 250, height: 200, crop: :fill) %>
                          <% else %>
                          <img src="https://i.imgur.com/WyxbTOS.png" class="img-thumbnail" alt="Servicio <%= servicio.title %>">
                        <% end %>
                    </div>
                    
                    <div class="card-img-overlay"><%= link_to servicio.title, service_path(servicio.id) %></div>
                    <small class="text-muted"><%= servicio.price %></small>
                  </div>
                </div>
              </div>
          <% end %>
            <!-- TERMINAN LOS CAROUSELS -->
          </div>
          <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </a>
          <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </a>
        </div>
      </div>
    </div>
  <!-- / CONTENEDOR CARRUSEL --> 
  <div class="container mb-4">
      <div class="banner">
        <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/7621315/pexels-photo-7621315.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);">
          <div class="container">
            <h1>¡Crezcamos juntos, ofrece tus servicios en Deep!</h1>
            <p>Te presentamos la oportunidad perfecta para darle más visibilidad a tu marca,  incrementar tus ganancias y destacar con tus servicios.</p>
            <%= link_to '¡Inscribe tu negocio!', new_user_registration_path, class: "btn btn-flat" %>
          </div>
      </div>
  </div>
</div>
<!-- / CONTENEDOR BANNER --> 