<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6   login bg-dark'>

      <h1>Log in</h1>
      <h2>¡Hola! Para comprar o vender debes ingresar a tu cuenta</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "" }) do |f| %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,
                      input_html: {class: 'rounded-pill form-control-lg', autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      input_html: {class: 'rounded-pill form-control-lg', autocomplete: "current-password" } %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>

        <div class="form-actions d-grid gap-2">
          <%= f.button :submit, "Ingresar", class: 'btn btn-primary form-control-lg rounded-pill' %>
        </div>
        <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
<p>
-
</p>